nav {
  height: 75px;
  background: royalblue;
}
header {
  height: 400px;
  background: lightskyblue;
}
#flex-container {
  display: flex;
  justify-content: space-between;
  height: 200px;
}
section {
  margin: 75px 100px;
}
footer {
  height: 100px;
  background-color: black;
}
p {
  background-color: khaki;
  height: 200px;
  margin-bottom: 75px;
}
div.col {
  background-color: tomato;
  border: 2px solid black;
  width: calc(50% - 10px);
}
h3{
  Height: 200px
  Space beneath: 75px
}
